@import 'tailwindcss/base.css';
@import 'tailwindcss/components.css';
@import 'tailwindcss/utilities.css';

html {
	@apply duration-200;
	@apply transition-colors;
}

html, .blend {
	background-color: #fff;
}

html.dark, .dark .blend {
	background-color: rgb(30, 30, 30);
}

pre, code {
	cursor: auto;
	@apply text-gray-700;
}

.dark pre, .dark code {
	@apply text-gray-400;
}

div {
	cursor:  none;
}

a, p, span, h1, h2, h3, h4, h5, h6 {
	cursor: text;
}

span.i {
	cursor: none;
}

button {
	cursor: pointer;
}

[disabled] {
	cursor: not-allowed;
}

.glide__track {
	cursor: grab;
}

.content {
	@apply px-6;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

@screen lg {
	.content {
		width: 80%;
	}
}

.content-lg {
	@apply px-6;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

@screen lg {
	.content-lg {
		width: 90%;
	}
}

.btn-secondary-gray {
	@apply px-3;
	@apply py-2;
	@apply rounded-lg;
	@apply text-yes-gray-700;
	@apply transform;
	@apply duration-200;
	border-color: transparent;
	border-width: 2px;
}

.btn-secondary-gray:hover {
	@apply -translate-y-px;
	@apply shadow;
	@apply border-yes-gray-700;
}

.dark .btn-secondary-gray {
	@apply text-yes-gray-200;
}

.dark .btn-secondary-gray:hover {
	@apply text-yes-gray-700;
	border-color: transparent;
	border-width: 2px;
}

.btn-primary-gray {
	@apply px-3;
	@apply py-2;
	@apply rounded-lg;
	@apply text-white;
	@apply transform;
	@apply duration-200;
	@apply bg-yes-gray-700;
	@apply border-yes-gray-700;
	border-width: 2px;
}

.btn-secondary {
	@apply px-3;
	@apply py-2;
	@apply rounded-lg;
	@apply text-yes-blue-500;
	@apply transform;
	@apply duration-200;
	border-color: transparent;
	border-width: 2px;
}

.btn-secondary:hover {
	@apply -translate-y-px;
	@apply shadow;
	@apply border-yes-blue-500;
}

.btn-fill {
	@apply px-3;
	@apply py-2;
	@apply rounded-lg;
	@apply text-yes-blue-500;
	@apply transform;
	@apply duration-200;
	border-color: transparent;
	border-width: 2px;
	@apply border-yes-blue-500;
}

.btn-fill:hover {
	@apply -translate-y-px;
	@apply shadow;
	@apply text-white;
	@apply bg-yes-blue-500;
}

.btn-primary {
	@apply px-3;
	@apply py-2;
	@apply rounded-lg;
	@apply text-white;
	@apply transform;
	@apply duration-200;
	@apply bg-yes-blue-500;
	@apply border-yes-blue-500;
	border-width: 2px;
}

.btn-primary:hover, .btn-primary-gray:hover {
	@apply -translate-y-px;
	@apply shadow;
}
